<%= provide(:title, 'Help') %>
<div class="jumbotron">
  <p>
    <h1>Help</h1>

    <h2>
      This application was created for educational purposes.<br>
      So far you can: <br>
      1. Register<br>
      2. Login with or without "remember me" parameter <br>
      3. Logout <br>
      4. Activate your account <br>
      5. View your profile
    </h2>
  </p>
</div>